/* LAYOUT */
body { padding-bottom: 40px; }
h1 { font-family: "crimson text", Georgia, serif; font-size: 32px; font-weight: 600; line-height: 42px; }
h2 { font-family: "crimson text", Georgia, serif; font-size: 26px; font-style: italic; font-weight: 600; }
h3 { color: #333; font-family: "crimson text", Georgia, serif; font-size: 20px; }
h3 { color: #5f5f5f; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 15px; font-weight: 300; text-transform: uppercase; }
.container-fluid { margin: 0 auto; max-width: 90em; }
#main { margin: 2em auto; }
hr { clear: both; }

/* UTILITY NAV */
#page-util-nav { margin-bottom: 0;}
#page-util-nav .navbar-inner { background: #444; min-height: 0; }
#page-util-nav a { color: #eee; padding: 3px 10px; text-transform: uppercase; }

#utility-nav { background: #eee; height: 32px; margin-bottom: 0; }
#utility-nav .navbar-inner { 
  background: #eee; 
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
#utility-nav .navbar-text { 
  background: #fafafa;
  border-width: 0 1px 1px 1px;
  border-color: #ddd;
  border-style: solid; 
  line-height: 32px;
  padding: 0 1em;
  -webkit-box-shadow: inset 0 0 5px #eee;
  -moz-box-shadow: inset 0 0 5px #eee;
  box-shadow: inset 0 0 5px #eee;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }

/* MAIN TITLE */
#title-container { background: #eee; padding: 8px 20px 36px; max-width: none; }
#title-container .row-fluid { margin: 0 auto; max-width: 90em; }
#main-title { color: #222; font-size: 42px; line-height: 42px; }
#main-title a, #main-title a:hover, #main-title a:active { color: #222; text-decoration: none; }
#main-title .main-title-pre { color: #484848; }
#title-container #tagline { color: #646464; }
#main-title, #tagline, #home-hero h1 {
  -webkit-text-shadow: 0 1px 0 #fff;
  -moz-text-shadow:    0 1px 0 #fff;
  text-shadow:         0 1px 0 #fff; }
#les-livres-link { float: right; margin-top: 18px; }

/* MAIN NAVIGATION */
#main-nav .navbar-inner {
min-height: 40px;
background: url('../img/classy_fabric.png') repeat scroll 0 0 #555;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), 0 -1px 3px rgba(0,0,0,.25), inset 0 1px 3px rgba(0,0,0,0.75), inset 0 -1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(0,0,0,.25);
-moz-box-shadow:    0 1px 3px rgba(0,0,0,.25), 0 -1px 3px rgba(0,0,0,.25), inset 0 1px 3px rgba(0,0,0,0.75), inset 0 -1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(0,0,0,.25);
box-shadow:         0 1px 3px rgba(0,0,0,.25), 0 -1px 3px rgba(0,0,0,.25), inset 0 1px 3px rgba(0,0,0,0.75), inset 0 -1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(0,0,0,.25);
}
#main-nav .nav li a { color: #fff; font-size: 18px; font-weight: 300; margin-right: 1em; }
#main-nav .nav li a:hover { background-color: rgba(0,0,0,0.2); }
#main-nav .nav li.active a { background-color: rgba(0,0,0,0.3); }

/* MAIN CONTENT */
h1.page-title { margin-bottom: 1em; }
#main h2, #main h3 { margin-bottom: 0.67em; }
#main h4 { margin-bottom: 0.5em; }

.filter-container { margin: 0 auto 2em; text-align: center; }
.show-filter { display: inline-block; }
#show-page .btn-small { font-size: 12px; }

/* HOME */
#home-hero { background: #f5f5f5; border-bottom: 4px double #bbb; border-top: 4px double #bbb; overflow: hidden; padding: 30px; }
#home-hero.hero-unit h1 { font-size: 32px; margin-bottom: 0.67em; }
#home-hero .thumbnails li { margin: 0 30px 0 0; }
#home-hero .btn { font-weight: normal; margin-right: 1em; margin-top: 1em; }

/* ACCOUNT */
#main .account-heading h2, #main .account-heading h3, #main .account-heading h4,
#main .show-heading h2, #main .show-heading h3, #main .show-heading h4 { margin-bottom: 0; }

#main .well { overflow: hidden; padding: 19px 19px 9px 19px; }
dl.well-list { margin: 0; }
.well-list dt { clear: both; color: #555; float: left; font-weight: normal; line-height: 19px; padding-bottom: 10px; text-transform: uppercase; width: 20%; }
.well-list dd { float: right; font-size: 14px; margin-left: 5%; padding-bottom: 10px; width: 75%; }

.item-list { color: #888; font-size: 16px; }
.item-list ul, .item-list span { color: #333; font-size: 13px; }
.item-actions { margin: 1em 0 0.67em; padding: 0; }
.item-actions li { display: inline; margin-right: 1.5em; }

/* SEARCH */
#search-page #main .search-input { font-size: 21px; height: 27px; line-height: 27px; margin-right: 2%; width: 60%; }
#search-page .search-buttons .btn { margin-right: 1em; }
.nav-search-query { margin-bottom: 0; margin-right: 0.67em; }
a.advanced-link, a.advanced-link:hover, a.advanced-link:active { color: #eee; line-height: 27px; }
a.accordion-toggle { background: #eee; color: #444; font-size: 16px; font-weight: bold; line-height: 22px; }
.results-container .tab-content {overflow: visible; }

/* RESULTS */
#main .nav-tabs li a { font-size: 15px; font-weight: bold; line-height: 23px; }
.favorite h3, .result h3 { font-family: "crimson text", Georgia, serif;  font-size: 23px; text-transform: none; }

/* ITEM DISPLAY */
.commonplaces.span12 { display: none; margin-left: 0; }
.commonplaces ul { margin-left: 0; }
.commonplaces li  { display: inline; margin-right: 1em; }

.line { display: inline-block; margin-bottom: 1.2em; width: 100%; }
.measure { color: #7a7a7a; font-size: 14px; }
.rhyme { color: #646464; font-size: 14px; }
.line-text { font-family: "crimson text", Georgia, serif;  font-size: 20px; text-transform: none; }
.notation-dropdown { float: right; margin-top: -2px; }

/* FOOTER */
.copyright { color: #777; text-align: center; }


@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}


/* ==|== non-semantic helper classes ======================================== */

/* For image replacement */
.ir { border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/* ==|== print styles ======================================================= */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
